body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e1b2a, #4b367c);
  color: white;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 100vw;
  margin: 0;
  background: #1c1730;
  padding: 8px;
  padding-top: 40px;
}
